.carousel {
    height: -webkit-fill-available;
    min-height: 100vh;
}

.carouselContainer {
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}
