@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.pulsate {
    animation: pulsate 1s infinite;
}

.circle {
    --circle-size: 20px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 1px solid black;
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
    background: white;
    mix-blend-mode: difference;
    z-index: 4;
}

@keyframes clickScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5); /* Adjust scale value as needed */
    }
    100% {
        transform: scale(1);
    }
}

.scaleAnimation {
    animation: clickScale 0.5s ease-in-out forwards; /* Adjust duration and timing as needed */
}
